@import './pl_component_sidebar_family/pl_component_sidebar_family.scss';
@import './pl_component_sidebar_header/pl_component_sidebar_header.scss';
@import './pl_component_sidebar_patient/pl_component_sidebar_patient.scss';

.pl_component_sidebar{

    border-left: 1px solid $color-normal;

    .pl_component_sidebar_element_footer{
        position: absolute;
        bottom:5px;
        right:5px;
        align-items:center;
        z-index: 10;
        overflow:hidden;
    }

}