@import './pl_component_sidebar_header/pl_component_sidebar_header.scss';
@import './../pl_component_card/pl_component_card_patient/pl_component_card_patient.scss';
@import './../pl_component_card/pl_component_card_family/pl_component_card_familiy.scss';
@import './../pl_component_form/pl_component_form.scss';
@import './../pl_component_table/pl_component_table.scss';
@import './../pl_component_card/pl_component_card_patient/pl_component_card_patient_widget/pl_component_card_patient_widget.scss';
@import './pl_component_sidebar_patient/pl_component_sidebar_patient.scss';
@import './pl_component_sidebar_family/pl_component_sidebar_family.scss';
@import './../pl_component_text_field_editable/pl_component_text_field_editable.scss';
@import './../pl_component_widget/pl_component_widget_list_vertical/pl_component_widget_list_vertical.scss';

.pl_component_sidebar{

    border-left: 1px solid $color-normal;

    .pl_component_sidebar_element_footer{
        position: absolute;
        bottom:5px;
        right:5px;
        align-items:center;
        z-index: 10;
        overflow:hidden;
    }

}