@import './pl_component_sidebar_header/pl_component_sidebar_header.scss';
@import './../pl_component_card/pl_component_card_patient/pl_component_card_patient.scss';
@import './../pl_component_card/pl_component_card_family/pl_component_card_familiy.scss';
@import './../pl_component_form/pl_component_form.scss';
@import './../pl_component_table/pl_component_table.scss';

.pl_component_sidebar{
    border-left: 1px solid $color-normal;
    //padding: 10px;

    h5{
        color:gray;
    }

    .pl_component_sidebar_element{
        //margin-bottom: 10px;
    }

    .pl-component-menu-tags{
        padding-top: 15px;
        padding-left: 0px;
    }

    .pl_component_sidebar_element_footer{
        position: absolute;
        bottom:5px;
        right:5px;
        align-items:center;
        z-index: 10;
        overflow:hidden;
    }
}