@import './../pl_component_card_patient_status/pl_component_card_patient_status.scss';

.pl-component-status-button{

    padding:5px;

    &:hover{

        color:$color-normal;
        background-color: $color_shadow-2;
        border-radius:5px;
    }
}