.pl-component-card-patient-text-button{

    padding:5px;
    color:white;

    &:hover{

        background-color: $color_shadow-2;
        border-radius: 5px;

        .text{
            color:$color-normal;
            overflow:hidden;
        }
    }
}

.pl-component-card-patient-text-button-selected{
    background-color: $color_shadow-2;
}