.pl_header{
    
    background-color: $rkt_viewer_patient_line_header_bg_color;
    color:$rkt_viewer_patient_line_header_color;
    padding: 10px;
    
    .tittle{
        color:$rkt_viewer_patient_line_header_color;
        padding-left: 15px;
        padding-top: 5px;
    }

    .menu{
       margin-right:150px;
    }

    .menu-options-label{
        padding-top:11px;
        font-size:14px;
    }

    .menu-options-button{
        padding-left:5px;
    }

    .content{
        overflow: hidden;
    }

    a{
        color:white;
        &:hover{
            color:white;
        }
    }

    i{
        color:white;
        &:hover{
            color:white;
        }
        padding: 5px;
    }


    .pl-signin-message{
        padding-top: 30px;
        a{
            width: fit-content;
            height: fit-content;
            font-style: bold;
            //color:$rkt_viewer_patient_line_header_bg_color;
            &:hover{
                color:$color-normal-2
            }
        }
    }

    svg{
        width: 60px;
        height: 50px;
    }
}