/*
# Patient line family tree viewer is (c) BCNMedTech, UNIVERSITAT POMPEU FABRA
#
# Patient line family tree viewer is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# Patient line family tree viewer is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# Authors:
# Carlos Yagüe Méndez
# Paula Bassagañas
# Paula Bassagañas
# Contributors: 
# Begoña Benito
# Bart Bijnens
# Oscar Camara
*/

.pl_header{
    
    background-color: $rkt_viewer_patient_line_header_bg_color;
    color:$rkt_viewer_patient_line_header_color;
    padding: 10px;
    
    .tittle{
        color:$rkt_viewer_patient_line_header_color;
        padding-left: 15px;
        padding-top: 5px;
    }

    .menu{
       margin-right:150px;
    }

    .menu-options-label{
        padding-top:11px;
        font-size:14px;
    }

    .menu-options-button{
        padding-left:5px;
    }

    .content{
        overflow: hidden;
    }

    a{
        color:white;
        &:hover{
            color:white;
        }
    }

    i{
        color:white;
        &:hover{
            color:white;
        }
        padding: 5px;
    }


    .pl-signin-message{
        padding-top: 30px;
        a{
            width: fit-content;
            height: fit-content;
            font-style: bold;
            //color:$rkt_viewer_patient_line_header_bg_color;
            &:hover{
                color:$color-normal-2
            }
        }
    }

    svg{
        width: 60px;
        height: 50px;
    }
}