@import "./../../pl_component_button/pl_component_button_rect/pl_component_button_rect.scss";
@import "./../../pl_component_card/pl_component_card_family/pl_component_card_family.scss";
@import "./../../pl_component_comfirm_message/pl_component_confirm_message.scss";
@import "./../../pl_component_modal/pl_component_modal.scss";
@import "./../../pl_component_text_field_editable/pl_component_text_field_editable.scss";

.pl-component-sidebar-family{
    
    .pl_component_sidebar_family_element{
        padding: 10px;

    }

    .pl_component_sidebar_family_diagnosis{
        margin-top:20px;
        padding-bottom: 20px;
        border-bottom: 1px solid $color_main;//rgba(92, 78, 229, 0.57);
    }

    .pl_component_sidebar_family_mutation{
        padding-bottom: 20px;
        border-bottom: 1px solid $color_main;//rgba(92, 78, 229, 0.57);
        
        h5{
            color:$color-normal;
            margin-top:8px;
            margin-bottom:3px;
        }
    }

    .pl_component_sidebar_family_undefined_message {
        padding-bottom: 2px;
    }
    
}