@import "./../../pl_component_button/pl_component_button_rect/pl_component_button_rect.scss";
@import "./../../pl_component_card/pl_component_card_family/pl_component_card_family.scss";
@import "./../../pl_component_comfirm_message/pl_component_confirm_message.scss";
@import "./../../pl_component_modal/pl_component_modal.scss";
@import "./../../pl_component_text_field_editable/pl_component_text_field_editable.scss";

.pl-component-sidebar-family{
    
    .pl_component_sidebar_family_element{
        padding: 10px;

    }

    .pl_component_sidebar_family_undefined_message {
        padding-bottom: 2px;
    }

    .pl_component_text_field_editable{
        
        .pl_component_form_item_input_text{

            form{

                input[type=text]{

                    background-color: $color_shadow_3;
                    color:$color-normal-2;
                }
            
            }
            &:hover{
                border-left:5px solid $color-normal-5;
            }
        }

        .pl_component_form_item_input_text_suggestion{

            form{

                input[type=text]{

                    background-color: $color_shadow_3;
                    color:$color-normal-2;
    
                    &:hover{
                        border-left:5px solid $color-normal-5;
                    }
    
                }

            }

            // elements in 'react-autocomplete-input'
            ul.react-autocomplete-input{ // autocomplete option list of 'react-autocomplete-input'
                border:unset;
                border-top: 2px solid $color-normal-5;
                border-bottom: 2px solid $color-normal-5;
                border-right: 2px solid $color-normal-5;
                border-left:5px solid $color-normal;
                width:100%;
                max-height:100px;
            }

            ul.react-autocomplete-input > li{ // element of the autocomplete option list
                background-color: $rkt-viewer-background-color;
                color:$color-normal-2;//$color_main;
                border-top: 1px solid $color-normal-5;
                border-bottom: 1px solid $color-normal-5;
            }

            ul.react-autocomplete-input > li.active{ // active element of the autocomplete option list
                background-color:$color_shadow_3;
                color:white;//$color-normal-2;
                border-top: 1px solid $color-normal-5;
                border-bottom: 1px solid $color-normal-5;
            }
            
            
        }

    }


}