/*
# Patient line family tree viewer is (c) BCNMedTech, UNIVERSITAT POMPEU FABRA
#
# Patient line family tree viewer is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# Patient line family tree viewer is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# Authors:
# Carlos Yagüe Méndez
# Paula Bassagañas
# Paula Bassagañas
# Contributors: 
# Begoña Benito
# Bart Bijnens
# Oscar Camara
*/

@import './../pl_component_title/pl_component_title.scss';
@import './../pl_component_button/pl_component_button_text/pl_component_button_text.scss';
@import './../pl_component_button/pl_component_button_rect/pl_component_button_rect.scss';

.pl_component_modal{

    width: 100%;
    height: 100%;
    top:0px;
    left:0px;
    position:fixed;
    z-index: 1000;
    overflow: hidden;
    background-color:$rkt_viewer_patient_line_wiewer_bg_color_modal;

    .pl_component_modal_top_bar{
        margin-top:30px;
        margin-bottom:30px;//71px;
        margin-left:30px;
        margin-right:38px;
    }

}

.pl_component_modal_esc_button{
    padding-top: 15px;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes popmodal {
    from {opacity:0;}
    to {opacity: 1;}
}

/* Standard syntax */
@keyframes popmodal {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes unpopmodal {
    from {opacity:1;}
    to {opacity: 0;}
}

/* Standard syntax */
@keyframes unpopmodal {
    from {opacity: 1;}
    to {opacity: 0;}
}

#pl_component_modal_open {
    -webkit-animation-name: popmodal; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
    animation-name: popmodal;
    animation-duration: 0.5s;
}

#pl_component_modal_closed {
    -webkit-animation-name: unpopmodal; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
    animation-name: unpopmodal;
    animation-duration: 0.5s;
    opacity:0;
}