@import './../../../pl_component_text_field_editable/pl_component_text_field_editable.scss';

.pl-component-card-family-header{

    margin-left: 10px;
    margin-right: 10px;

    h4{
        color:$color-normal;
        width:100%;
        margin:0px;
    }

    .card-item {
        padding-left: 2.5px;
        padding-right: 2.5px;
    }

    .pl_component_text_field_editable{
        
        .pl_component_form_item_input_text{

            form{

                input[type=text]{

                    background-color: $color_shadow_3;
                    color:$color-normal-2;
                }
            
            }
            &:hover{
                border-left:5px solid $color-normal-5;
            }
        }

        .pl_component_form_item_input_text_suggestion{
            
            form{

                input[type=text]{

                    background-color: $color_shadow_3;
                    color:$color-normal-2;
    
                    &:hover{
                        border-left:5px solid $color-normal-5;
                    }
    
                }

            }

            // elements in 'react-autocomplete-input'
            ul.react-autocomplete-input{ // autocomplete option list of 'react-autocomplete-input'
                border:unset;
                border-top: 2px solid $color-normal-5;
                border-bottom: 2px solid $color-normal-5;
                border-right: 2px solid $color-normal-5;
                border-left:5px solid $color-normal;
                width:100%;
            }

            ul.react-autocomplete-input > li{ // element of the autocomplete option list
                background-color: $rkt-viewer-background-color;
                color:$color-normal-2;//$color_main;
                border-top: 1px solid $color-normal-5;
                border-bottom: 1px solid $color-normal-5;
            }

            ul.react-autocomplete-input > li.active{ // active element of the autocomplete option list
                background-color:$color_shadow_3;
                color:white;//$color-normal-2;
                border-top: 1px solid $color-normal-5;
                border-bottom: 1px solid $color-normal-5;
            }
            
            
        }

    }

}