/*
# Patient line family tree viewer is (c) BCNMedTech, UNIVERSITAT POMPEU FABRA
#
# Patient line family tree viewer is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# Patient line family tree viewer is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# Authors:
# Carlos Yagüe Méndez
# Paula Bassagañas
# Paula Bassagañas
# Contributors: 
# Begoña Benito
# Bart Bijnens
# Oscar Camara
*/

.rkt_viewer_patient_line_toolbox_thumbnail{

    .rkt_viewer_patient_line_toolbox_thumbnail-card{

        width:100%;
        height:200px;
        background-color:$rkt_viewer_patient_line_thumbnail_bg_color;
        border: 0.5px solid white;
        color:white;
        margin-left: 5px;
        padding: 2px;
        padding-top:8px;
        background-color: black;

        &:focus{
            border: 2px solid $rkt_viewer_patient_line_header_bg_color;
        }
    }
    
    .menu_thumbnail{
        position: absolute;
        z-index: 1;
        float: right;
        right: 17px;
        top: 5px;
    }

    .label_thumbnail{
        position: absolute;
        z-index: 1;
        float: right;
        right: 18px;
        bottom: 25px;
        color: white;
        background-color: $rkt_viewer_patient_line_header_bg_color;
        padding: 4px;
        border-radius: 4px;
    }
}
