.pl_component_button_rect{
    width:114px;
    height:38px;

    //margin-left:15px;
    //margin-bottom:27px;

    font-size:20px;

    overflow:hidden;
    
    align-items:center; // vertical centering of the text
    justify-content:center; // horizontal centering of the text
}