.pl-component-table{

    .bx--table-row{
            
        background-color: $rkt-viewer-background-color;
        border: 0px solid $rkt-viewer-background-color;
    }

    .bx--responsive-table{
        border: 0px solid $rkt-viewer-background-color;
    }

    .bx--table-header{
        border: 1px solid $rkt_viewer_patient_line_header_bg_color;
    }
    
    td{
        border-right: 1px solid $rkt-viewer-background-color;
    }

    .pl-component-right-menu{
        
        position: relative;
        z-index: 10;
        overflow:hidden;
        display: none;

        .pl-component-right-menu-button{
            fill:$color-normal;
            &:hover{
                fill:$color-normal-2;
            }
        }
    }

    .pl-component-table-row:hover .pl-component-right-menu{
        display: block;
    }
    
}

