/*
# Patient line family tree viewer is (c) BCNMedTech, UNIVERSITAT POMPEU FABRA
#
# Patient line family tree viewer is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# Patient line family tree viewer is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# Authors:
# Carlos Yagüe Méndez
# Paula Bassagañas
# Paula Bassagañas
# Contributors: 
# Begoña Benito
# Bart Bijnens
# Oscar Camara
*/

.pl-component-table {

    table{

        thead{
            
            tr{
                width:100%;
                height:100%;
                font-size:0.875rem;
                font-family: "ibm-plex-sans";
                font-size: 12px;
                
                align-items:center;

                td{
                    border:1px solid $color-normal;
                    
                    padding: 10px;//6px;
                    width:100%; // important
                }
            }

        }

        tbody{
            overflow-y:auto;
            height: 100%;

            tr{
                border:1px solid transparent;

                width:100%;
                min-height:40px;
                font-size:0.875rem;
                
                align-items:center;
                
                td{
                    padding: 10px;//6px;
                    width:100%; // important
                }

                &:hover{
                    border:1px solid $color-normal;
                }
            }

        }
    }

    .pl-component-right-menu{
        position: relative;
        z-index: 10;
        overflow:hidden;
        display: none;
        background-color: $rkt-viewer-background-color;

        .pl-component-right-menu-button{
            background-color: $rkt-viewer-background-color;
            overflow:hidden;
            fill:$color-normal;
            &:hover{
                fill:$color-normal-2;
            }
        }
    }

    .pl-component-table-row:hover .pl-component-right-menu{
        display: block;
        
    }

    .pl_component_form_item_input_text{
        
        margin:0px;
        width:100%;
        height:100%;

        input[type=text]{
            
            margin-bottom:0px; 
            padding:0px;

            border:0px;
            width:100%;
            height:100%;

            background-color: transparent;
            color:$color-normal-2;
            font-size: unset;

            &:focus{
                background-color: transparent;
                color:$rkt_viewer_patient_line_header_bg_color;
                border:0px;
            }

            &:hover{
                background-color: transparent;
                color:$rkt_viewer_patient_line_header_bg_color;
                border:0px;
            }
        }
        
    }

    .value-editable{
        background-color: $color_shadow_3;

        &:hover{
            border-left:5px solid $color-normal-5;
        }
    }

}