/*
# Patient line family tree viewer is (c) BCNMedTech, UNIVERSITAT POMPEU FABRA
#
# Patient line family tree viewer is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# Patient line family tree viewer is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# Authors:
# Carlos Yagüe Méndez
# Paula Bassagañas
# Paula Bassagañas
# Contributors: 
# Begoña Benito
# Bart Bijnens
# Oscar Camara
*/

@import './../../pl_component_button/pl_component_button_circle/pl_component_button_circle.scss';
@import './../../pl_component_button/pl_component_button_circle_selectable/pl_component_button_circle_selectable.scss';

.pl-component-sidebar-header{
    
    margin: 10px;
    align-items: center; // vertical centering

    h3{
        padding-right:10px;
    }

    border-bottom: 1px solid $color-normal;

    .mode_selected{
        color:$rkt_viewer_patient_line_header_bg_color;
    }
    
    .mode_unselected{
        color:$color-un-selected
    }

    .pl-component-sidebar-header-edition-buttons{
        
        align-items: center; // vertical centering
        position:absolute;
        top:0px;
        right:0px;
    
        .pl_component_button_circle{
            margin-top:3.2px;
            margin-bottom:8px;
            width: 35px;
            height: 35px;
        }

        .pl_component_button_circle_selectable{
            margin-top:3.2px;
            margin-bottom:8px;
            width: 35px;
            height: 35px;
        }

    }
}
