/*
# Patient line family tree viewer is (c) BCNMedTech, UNIVERSITAT POMPEU FABRA
#
# Patient line family tree viewer is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# Patient line family tree viewer is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# Authors:
# Carlos Yagüe Méndez
# Paula Bassagañas
# Paula Bassagañas
# Contributors: 
# Begoña Benito
# Bart Bijnens
# Oscar Camara
*/

.pl_component_form_item_input_options {

    margin-top:5px;
    margin-bottom:20px;//15px;
    margin-left:25px;//35px;
    margin-right:10px;
    overflow:hidden;

    form {
        .pl_component_form_item_input_option {
            align-items:center;
            overflow:hidden;
            
            input[type=radio]{
                opacity:0;
            }

            label{
                color:$color_normal;
                opacity:0.697;
                font: 20px Helvetica; //"Helvetica Neue";
            }

            label:before{ // (customized) non-checked radio button
                content: " ";
                margin-right:10px;
                display: inline-block;
                width:16px;
                height:16px;
                border-radius:50%;
                border-color:$color_main;
                border: 1px solid rgba(58, 153, 216, 0.8);
                background-color:"ffffff";
            }

            input[type=radio]:checked + label:before { // (customized) checked radio button
                content: " ";
                margin-right:10px;
                display:inline-block;
                width:16px;
                height:16px;
                border-radius:50%;
                border: 1px solid rgba(58, 153, 216, 0.8);
                background-color:rgba(58, 153, 216, 0.697);
            }
        }        
    }
}

.pl_component_form_item_input_options.highlighted {

    form {
        .pl_component_form_item_input_option {
            label{
                color:$color_normal_2;
            }
        }
    }

}