/*
# Patient line family tree viewer is (c) BCNMedTech, UNIVERSITAT POMPEU FABRA
#
# Patient line family tree viewer is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# Patient line family tree viewer is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# Authors:
# Carlos Yagüe Méndez
# Paula Bassagañas
# Paula Bassagañas
# Contributors: 
# Begoña Benito
# Bart Bijnens
# Oscar Camara
*/

.pl-component-card-patient-gender-combobox{

    color:white;
    padding-top: 6px;
    
    &:hover{
        color:white;
    }

    .gender{
        
       //margin-top: 6px;
        stroke: transparent;

        circle{
            stroke:$color-normal;
            fill: transparent;
        }

        rect{
            stroke:$color-normal;
            fill: transparent;
        }   
    }

    .list-item{
        padding: 10px;

        &:hover{
            background-color: $color_shadow-2;
        }

        .text{
            margin-top:3px;
            padding-bottom:2px;
            overflow:hidden;
        }
    }

    .list-item-selected{
        
        padding: 10px;
        background-color: $color-normal;

        circle{
            stroke:white;
            fill: transparent;
        }

        rect{
            stroke:white;
            fill: transparent;
        }
        
        .text{
            margin-top:3px;
            padding-bottom:2px;
            overflow:hidden;
        }
    }

    .pl-component-card-patient-gender-combobox-undefined-gender{

        width:45px;
        height:45px;

        justify-content: center; // horizontal centering

    }
}

.pl-component-card-patient-gender-combobox-tooltip {
    
    position: relative;
    display: inline-block;
    border-radius: 5px;
    width: 70px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    .text{
        margin-top:3px;
        padding-bottom:2px;
        overflow:hidden;
    }

    &:hover{
        background-color: $color_shadow-2;

        .text{
            color:$color-normal;
        }
    }

}


.pl-component-card-patient-gender-combobox-tooltip-selected {
    
    position: relative;
    display: inline-block;
    border-radius: 5px;
    width: 70px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    .text{
        margin-top:3px;
        padding-bottom:2px;
        overflow:hidden;
    }

    &:hover{
        background-color: $color_shadow-2;
    }
}

.pl-component-card-patient-gender-combobox-tooltip-selected .tooltipcontent {
    
    visibility: hidden;
    background-color:$rkt_viewer_patient_line_viewer_bg_color;
    color: #fff;
    text-align: center;
    border: 1px solid $color-normal;

    .text{
        margin-top:3px;
        padding-bottom:2px;
        overflow:hidden;
    }

    /* Position the tooltip */
    position: fixed;
    margin-top: 25px;
    margin-left:-10px;
    z-index: 3;
}



.pl-component-card-patient-gender-combobox-tooltip-selected:hover .tooltipcontent {
    visibility: visible;
    
}