@import "./../pl_component_button/pl_component_button_rect/pl_component_button_rect.scss";
@import "./../pl_component_form/pl_component_form_item/pl_component_form_item_input_text/pl_component_form_item_input_text.scss";
@import "./../pl_component_list/pl_component_list_horizontal/pl_component_list_horizontal_selectable_icons/pl_component_list_horizontal_selectable_icons.scss";

.pl_component_widget{
    color:$color_main;
    overflow:hidden;
    margin-bottom:30.5px;

    .pl_component_view_widget_top_bar{

        align-items:center; // vertical centering of the items
        justify-content:center; // horizontal centering of the items

        .pl_component_view_widget_top_bar_icon{
            display: none;
            width:25px;
            margin-right:14px;
            color:$color_main;
            overflow:hidden;

            i{ // foundicon styling
                font-size:25px;//20px;
            }

            svg{ // svg styling
                fill:$color_main;
            }
        }

        .pl_component_view_widget_top_bar_title{
            font: bold 20px Helvetica;
            overflow: hidden;
            margin-top: 10px; // as the edition icons (see PlComponentButtonIcon)
            margin-bottom: 10px; // as the edition icons (see PlComponentButtonIcon)
        }
        
    }

    .pl_component_widget_search_bar{
        margin-right:10%;//25px;
        //padding-bottom:10px;

        color: $color_main;
        font-size:30px;
        overflow:hidden;
        
        .pl_component_form_item_message{
            top:50px;
        }

        .pl_component_form_item_input_text{
            margin-bottom:0px;
        }
        
    }
    
    .pl_component_widget_content{
        margin-top:10px;//16px;
        padding-right: 15px;
        overflow-y:auto;
        z-index: 2;

        .pl_component_widget_end_edition_buttons{

            position:absolute;//fixed;
            bottom:0px;
            right:0px;

            padding-top:10px;
            padding-right:5px;

            z-index:5;
            overflow:hidden;

            .pl_component_button_rect {
                margin-left:5px;
            }

        }
    
    }

} 