@import './../../pl_component_button/pl_component_button_icon/pl_component_button_icon.scss';

.pl_component_widget_informative_box{
    
    height:100px;

    border:1px dashed $color_main;
    background-color:$rkt-viewer-background-color;

    align-items:center; // vertical centering of the icon
    justify-content:center; // horizontal centering of the icon
    
    &:hover{
        background-color:$rkt-viewer-background-color;
    }

    .pl_component_widget_informative_box_icon {
        
        width: 25%;
        padding:3px;
        border-bottom:1px solid $color_main;

        align-items:center; // vertical centering of the icon
        justify-content:center; // horizontal centering of the icon

        .pl_component_button_icon{

            i{ // foundicon styling
                font-size:25px;
            }

        }

    }
 
}