/*
# Patient line family tree viewer is (c) BCNMedTech, UNIVERSITAT POMPEU FABRA
#
# Patient line family tree viewer is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# Patient line family tree viewer is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# Authors:
# Carlos Yagüe Méndez
# Paula Bassagañas
# Paula Bassagañas
# Contributors: 
# Begoña Benito
# Bart Bijnens
# Oscar Camara
*/

$rkt-second-color:white;
$rkt-main-color:$color-normal;

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {fill: $rkt-second-color}
    100% {fill:$rkt-main-color}
    100%   {fill: $rkt-second-color}
}

/* Standard syntax */
@keyframes example {
    0%   {fill: $rkt-second-color}
    50% {fill:$rkt-main-color};
    100%   {fill: $rkt-second-color}
}

.pl-upload-icon{
    fill:$rkt-main-color;
    padding-top:45px;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: 30;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 30;
}

.pl-upload-message{
    padding-top: 30px;
    a{
        width: fit-content;
        height: fit-content;
        color:$rkt_viewer_patient_line_header_bg_color;
        &:hover{
            color:$color-normal-2
        }
    }
}