.pl_component_title{
    padding-right:10px;
    padding-top:10px;
    padding-bottom:10px;
    font-size:28px;
    color: $rkt_viewer_patient_line_header_color;
    overflow:hidden;

    h3{
        color:$rkt_viewer_patient_line_header_color;
    }
}