/*
# Patient line family tree viewer is (c) BCNMedTech, UNIVERSITAT POMPEU FABRA
#
# Patient line family tree viewer is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# Patient line family tree viewer is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# Authors:
# Carlos Yagüe Méndez
# Paula Bassagañas
# Paula Bassagañas
# Contributors: 
# Begoña Benito
# Bart Bijnens
# Oscar Camara
*/
    .node-border{

      fill:transparent;
      stroke:transparent;
      stroke-width:3px;
      z-index:10;

      &:hover{
        stroke:$color_normal;
        stroke-width:4px;
      }

      &.selected{
        stroke:$color_normal;
        stroke-width:5px;
      }
              
    }
  
  .text{
    fill:white;
  }
  
  .link {
    fill: none;
    stroke: white;
  }
  
  .sibling {
    fill: none;
    stroke: white;
  }
  .node {
    fill: #E53935;
    stroke:  white;
    stroke-width: 3px;
    }
    .d3-tip {
      line-height: 1;
      font-weight: bold;
      padding: 24px;
      background: rgba(0, 0, 0, 0.8);
      color: #fff;
      border-radius: 2px;
    }
  
    /* Creates a small triangle extender for the tooltip */
    .d3-tip:after {
      box-sizing: border-box;
      display: inline;
      font-size: 2px;
      width: 100%;
      line-height: 1;
      color: rgba(0, 0, 0, 0.8);
      content: "\25BC";
      position: absolute;
      text-align: center;
    }
  
    /* Style northward tooltips differently */
    .d3-tip.n:after {
      margin: -1px 0 0 0;
      top: 100%;
      left: 0;
  }
  
  /* d3-context-menu styles */
  
  .d3-context-menu {
      position: absolute;
      display: none;
      background-color: #f2f2f2;
      border-radius: 4px;
      font-family: Arial, sans-serif;
      font-size: 14px;
      min-width: 150px;
      border: 1px solid #d4d4d4;
      z-index:1200;
  }
  
  .d3-context-menu ul {
      list-style-type: none;
      margin: 4px 0px;
      padding: 0px;
      cursor: default;
  }
  
  .d3-context-menu ul li {
      padding: 4px 16px;
    min-width: 170px;
  }
  
  .d3-context-menu ul li:hover {
      background-color:#0879C4;
      color: #fefefe;
  }
  
  
  .d3-context-menu ul li > ul {
      position: absolute;
      background-color: #f2f2f2;
      top: 0;
      left: 175px;
      z-index: -1;
      color: #000000;
  }
  
  .d3-context-menu ul li > ul li:hover
  {
      background-color: #0879C4;
         color: #000000;
  }
  