.pl_component_form_item_message{
    position: absolute;
    top: 80px;
    padding:5px;
    margin-left:35px;
    margin-right:10px;
    font: 15px Helvetica; //"Helvetica Neue";
    color:red;//$color_normal;
    opacity:0.697;
    overflow:hidden;
}