@import './../../pl_component_button/pl_component_button_circle/pl_component_button_circle.scss';
@import './../../pl_component_button/pl_component_button_circle_selectable/pl_component_button_circle_selectable.scss';

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.pl_component_button_circle {
    margin: 2.5px;
}

.pl_component_button_circle_selectable{
	margin: 2.5px;
}

.bottom-menu{
    padding-top: 7px;
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.3s;
}

.bottom-menu .pl_component_button_circle{
    width:30px;
    height:30px;
}

.bottom-menu .pl_component_button_circle_selectable{
    width:30px;
    height:30px;
}


