@import './../../components/pl_component_form/pl_component_form_item/pl_component_form_item_input_text/pl_component_form_item_input_text.scss';
@import './../../components/pl_component_table/pl_component_table.scss';
@import './../../components/pl_component_menu/pl_component_menu/pl_component_menu.scss';
@import './pl_component_database_header/pl_component_database_header.scss';
@import './../../components/pl_component_menu/pl_component_menu_tags/pl_component_menu_tags.scss';
@import './../../components/pl_component_form/pl_component_form.scss';
@import './../../components/pl_component_modal/pl_component_modal.scss';
@import './../../components/pl_component_comfirm_message/pl_component_confirm_message.scss';

.pl_component_database{

    .table{
        padding: 10px;
    }
    
    .bottom_bar{
        position: absolute;
        bottom:55px;
        right:12px;
        align-items:center;
        z-index: 10;
        overflow:hidden;
    }
}   



