/*
# Patient line family tree viewer is (c) BCNMedTech, UNIVERSITAT POMPEU FABRA
#
# Patient line family tree viewer is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# Patient line family tree viewer is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# Authors:
# Carlos Yagüe Méndez
# Paula Bassagañas
# Paula Bassagañas
# Contributors: 
# Begoña Benito
# Bart Bijnens
# Oscar Camara
*/

@import './../../components/pl_component_form/pl_component_form_item/pl_component_form_item_input_text/pl_component_form_item_input_text.scss';
@import './../../components/pl_component_table/pl_component_table.scss';
@import './../../components/pl_component_menu/pl_component_menu/pl_component_menu.scss';
@import './pl_component_database_header/pl_component_database_header.scss';
@import './../../components/pl_component_menu/pl_component_menu_tags/pl_component_menu_tags.scss';
@import './../../components/pl_component_form/pl_component_form.scss';
@import './../../components/pl_component_modal/pl_component_modal.scss';
@import './../../components/pl_component_comfirm_message/pl_component_confirm_message.scss';

.pl_component_database{

    .table{
        padding: 10px;
    }
    
    .bottom_bar{
        position: absolute;
        bottom:55px;
        right:12px;
        align-items:center;
        z-index: 10;
        overflow:hidden;
    }
}   



