@import './../pl_component_form/pl_component_form_item/pl_component_form_item_input_text/pl_component_form_item_input_text.scss';
@import './../pl_component_text/pl_component_text_plain/pl_component_text_plain.scss';

.pl_component_text_field_editable{

    .pl_component_form_item_input_text{

        margin:0px;

        form{
            input[type=text]{
                padding:0px;
                margin:0px;
                border: unset;

                &:hover{
                    border: unset;
                }
    
                &:focus{
                    border: unset;
                }

            }
        }
    }

    // .pl_component_text_plain{
        
    // }

}