@import './../pl_component_form/pl_component_form_item/pl_component_form_item_input_text/pl_component_form_item_input_text.scss';
@import './../pl_component_form/pl_component_form_item/pl_component_form_item_input_text_suggestion/pl_component_form_item_input_text_suggestion.scss';
@import './../pl_component_text/pl_component_text_plain/pl_component_text_plain.scss';

.pl_component_text_field_editable{

    margin:0px;
    width: 100%;

    .pl_component_text_plain{

        color:unset;
        font-size: unset;
        max-height:unset;
        overflow:hidden;
        padding-bottom:2px;
    }

    .pl_component_form_item_input_text{
        
        margin: 0px;

        input[type="text"],{
            
            background-color: $rkt-viewer-background-color;
            color:$rkt_viewer_patient_line_header_bg_color;
            margin-bottom:0px;
            color:$color-normal-2;
            font-size:unset;

            &:focus{
                background-color: $rkt-viewer-background-color;
                border: 1px solid $rkt_viewer_patient_line_header_bg_color;
            }

            &:hover{
                background-color: $rkt-viewer-background-color;
                border: 1px solid $rkt_viewer_patient_line_header_bg_color;
            }
        }
        
    }

    .pl_component_form_item_input_text_suggestion{
        
        margin: 0px;

        input[type="text"],{
            
            background-color: $rkt-viewer-background-color;
            color:$rkt_viewer_patient_line_header_bg_color;
            margin-bottom:0px;
            color:$color-normal-2;
            font-size:unset;

            &:focus{
                background-color: $rkt-viewer-background-color;
                border: 1px solid $rkt_viewer_patient_line_header_bg_color;
            }

            &:hover{
                background-color: $rkt-viewer-background-color;
                border: 1px solid $rkt_viewer_patient_line_header_bg_color;
            }
        }

        // elements in 'react-autocomplete-input'
        ul.react-autocomplete-input{ // autocomplete option list of 'react-autocomplete-input'
            border:unset;
            border-top: 2px solid $color-normal-5;
            border-bottom: 2px solid $color-normal-5;
            border-right: 2px solid $color-normal-5;
            border-left:5px solid $color-normal;
            width:100%;
            max-height:100px;
        }

        ul.react-autocomplete-input > li{ // element of the autocomplete option list
            background-color: $rkt-viewer-background-color;
            color:$color-normal-2;//$color_main;
            border-top: 1px solid $color-normal-5;
            border-bottom: 1px solid $color-normal-5;
        }

        ul.react-autocomplete-input > li.active{ // active element of the autocomplete option list
            background-color:$color_shadow_3;
            color:white;//$color-normal-2;
            border-top: 1px solid $color-normal-5;
            border-bottom: 1px solid $color-normal-5;
        }
        
        
    }

}