@import './../pl_component_form/pl_component_form_item/pl_component_form_item_input_text/pl_component_form_item_input_text.scss';
@import './../pl_component_text/pl_component_text_plain/pl_component_text_plain.scss';

.pl_component_text_field_editable{

    // width:100%;
    // height:100%;

    .pl_component_form_item_input_text{

        margin:0px;
        width:100%;
        height:100%;

        form{
            input[type=text]{
                margin-bottom:0px; 
                padding:0px;
                padding-bottom:2px;

                border:0px;
                width:100%;
                height:100%;
                color:#8c83ea;
                font-size:unset;

                &:hover{
                    border: 0px;
                }
    
                &:focus{
                    border: 0px;
                }

            }
        }
    }

    .pl_component_text_plain{
        padding-bottom:2px;
    }

}