@import './../../pl_component_button/pl_component_button_circle/pl_component_button_circle.scss';
@import './../../pl_component_button/pl_component_button_circle_selectable/pl_component_button_circle_selectable.scss';
@import './pl_component_card_patient_gender_combobox/pl_component_card_patient_gender_combobox.scss';
@import './pl_component_card_patient_status_button/pl_component_card_patient_status_button.scss';
@import './pl_component_card_patient_status_combobox/pl_component_card_patient_status_combobox.scss';
@import './pl_component_card_patient_text_button/pl_component_card_patient_text_button.scss';
@import './pl_component_card_patient_widget/pl_component_card_patient_widget.scss';
@import './../../pl_component_text_field_editable/pl_component_text_field_editable.scss';

.pl-component-card-patient{
    
    h4{
        color:$color-normal;
    }

    .card-header{
        margin-left: 10px;
        margin-right: 10px;

        h4{
            width:100%;
            margin:0px;
        }
    }

    .card-item{
        padding-left: 2.5px;
        padding-right: 2.5px;
    }

    .card-row{
        padding:10px;
        background-color: $color_shadow_3;
        margin-top: 15px;
        align-items:center;
    }

    .card-row-gender-status{
        background-color: $color_shadow_3;
        margin-top: 15px;
        align-items:center;
    }

    .pl-component-card-patient-edition-buttons{
        
        align-items: center; // vertical centering
        position:absolute;
        right:0px;

        //margin-left: -5px;

        .pl_component_text_plain{
            color:unset;
            font: unset;
            max-height:unset;
            overflow:hidden;
            padding-left: 5px;
            //margin-left: -5px;
        }

        .pl_component_form_item_input_text{
            background-color: $color_shadow-2;
            padding-left: 5px;
            border: 1px solid $color-normal-5;
            padding-top: 3px;
            padding-bottom: 3px;
            
        }
    
        .pl_component_button_circle_selectable{
            margin-top: 10px;
            width: 35px;
            height: 35px;
        }

    }
    
}