/*
# Patient line family tree viewer is (c) BCNMedTech, UNIVERSITAT POMPEU FABRA
#
# Patient line family tree viewer is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# Patient line family tree viewer is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# Authors:
# Carlos Yagüe Méndez
# Paula Bassagañas
# Paula Bassagañas
# Contributors: 
# Begoña Benito
# Bart Bijnens
# Oscar Camara
*/

@import './../pl_component_card_patient_gender_combobox/pl_component_card_patient_gender_combobox.scss';
@import './../pl_component_card_patient_status_combobox/pl_component_card_patient_status_combobox.scss';
@import './../../../pl_component_text_field_editable/pl_component_text_field_editable.scss';

.pl-component-card-patient-header{

    margin-left: 10px;
    margin-right: 10px;

    align-items: center;

    h4{
        color:$color-normal;
        width:100%;
        margin:0px;
    }
    
    .card-item{
        padding-left: 2.5px;
        padding-right: 2.5px;
    }

    .card-row-gender-status{
        align-items:center;
        overflow: hidden;

        h4{
            width:unset;
        }
    }
    
}
