/*
# Patient line family tree viewer is (c) BCNMedTech, UNIVERSITAT POMPEU FABRA
#
# Patient line family tree viewer is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# Patient line family tree viewer is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# Authors:
# Carlos Yagüe Méndez
# Paula Bassagañas
# Paula Bassagañas
# Contributors: 
# Begoña Benito
# Bart Bijnens
# Oscar Camara
*/

@import './../pl_component_form_item_label/pl_component_form_item_label.scss';
@import './../pl_component_form_item_message/pl_component_form_item_message.scss';

.pl_component_form_item_input_text_date {

    margin-top:5px;
    margin-bottom:15px;
    margin-left:35px;
    margin-right:10px;
    overflow:hidden;
    
    form {
        input[type=date]{
            background-color: transparent;
            color: $color_main;
            font: 20px Helvetica; //"Helvetica Neue";
            height:41px;
            border: 1px solid rgba(58, 153, 216, 0.201);
            overflow:hidden;

            &:hover{
                background-color: transparent;
                color: $color_main;
                border: 1px solid $color_main;
                overflow:hidden;
            }

            &:focus{
                background-color: transparent;
                color: $color_main;
                border: 1px solid $color_main;
                overflow:hidden;
            }

            ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: $color-un-selected;
                opacity: 1; /* Firefox */
            }
            
            :-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: $color-un-selected;
            }
            
            ::-ms-input-placeholder { /* Microsoft Edge */
                color: $color-un-selected;
            }
        }
    }
}

.pl_component_form_item_input_text_date.invalid {

    form {
        input[type=date]{
            color: red;
            border: 1px solid red;
        }

        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: rgba(255, 0, 0, 0.6);
            opacity: 1; /* Firefox */
        }
            
        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color:rgba(255, 0, 0, 0.6);
        }
            
        ::-ms-input-placeholder { /* Microsoft Edge */
            color:rgba(255, 0, 0, 0.6);
        }
    }
}