@import './../pl_component_form_item_label/pl_component_form_item_label.scss';
@import './../pl_component_form_item_message/pl_component_form_item_message.scss';

.pl_component_form_item_input_text_date {

    margin-top:5px;
    margin-bottom:15px;
    margin-left:35px;
    margin-right:10px;
    overflow:hidden;
    
    form {
        input[type=date]{
            background-color: transparent;
            color: $color_main;
            font: 20px Helvetica; //"Helvetica Neue";
            height:41px;
            border: 1px solid rgba(58, 153, 216, 0.201);
            overflow:hidden;

            &:hover{
                background-color: transparent;
                color: $color_main;
                border: 1px solid $color_main;
                overflow:hidden;
            }

            &:focus{
                background-color: transparent;
                color: $color_main;
                border: 1px solid $color_main;
                overflow:hidden;
            }

            ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: $color-un-selected;
                opacity: 1; /* Firefox */
            }
            
            :-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: $color-un-selected;
            }
            
            ::-ms-input-placeholder { /* Microsoft Edge */
                color: $color-un-selected;
            }
        }
    }
}

.pl_component_form_item_input_text_date.invalid {

    form {
        input[type=date]{
            color: red;
            border: 1px solid red;
        }

        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: rgba(255, 0, 0, 0.6);
            opacity: 1; /* Firefox */
        }
            
        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color:rgba(255, 0, 0, 0.6);
        }
            
        ::-ms-input-placeholder { /* Microsoft Edge */
            color:rgba(255, 0, 0, 0.6);
        }
    }
}