/*
# Patient line family tree viewer is (c) BCNMedTech, UNIVERSITAT POMPEU FABRA
#
# Patient line family tree viewer is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# Patient line family tree viewer is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# Authors:
# Carlos Yagüe Méndez
# Paula Bassagañas
# Paula Bassagañas
# Contributors: 
# Begoña Benito
# Bart Bijnens
# Oscar Camara
*/

@import "./../../pl_component_button/pl_component_button_rect/pl_component_button_rect.scss";
@import "./../../pl_component_card/pl_component_card_patient/pl_component_card_patient.scss";
@import "./../../pl_component_comfirm_message/pl_component_confirm_message.scss";
@import "./../../pl_component_menu/pl_component_menu_tags/pl_component_menu_tags.scss";
@import "./../../pl_component_modal/pl_component_modal.scss";
@import "./../../pl_component_table/pl_component_table.scss";
@import "./../../pl_component_text_field_editable/pl_component_text_field_editable.scss";

.pl-component-sidebar-patient{

    .pl_component_sidebar_patient_element{
        padding: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid $color-normal;
    }
    
    .pl_component_sidebar_patient_undefined_message {
        padding-bottom: 2px;
    }
    
    // .pl_component_text_field_editable{
            
    //     .pl_component_form_item_input_text{
    //         background-color: $color_shadow_3;
    
    //         &:hover{
    //             border-left:5px solid $color-normal-5;
    //         }
    //     }
    
    // }

}



