@import "./../../pl_component_button/pl_component_button_rect/pl_component_button_rect.scss";
@import "./../../pl_component_card/pl_component_card_patient/pl_component_card_patient.scss";
@import "./../../pl_component_comfirm_message/pl_component_confirm_message.scss";
@import "./../../pl_component_modal/pl_component_modal.scss";
@import "./../../pl_component_menu/pl_component_menu_tags/pl_component_menu_tags.scss";
@import "./../../pl_component_table/pl_component_table.scss";

.pl_component_sidebar_patient_element{
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid $color-normal;
}


