.pl-component-card-patient-status{

    overflow:hidden;
    
    h4{
        color:$color-normal;
    }

    .pl-component-card-patient-status-undefined-status{

        width:45px;
        height:45px;

        justify-content: center; // horizontal centering

    }

}