/*
# Patient line family tree viewer is (c) BCNMedTech, UNIVERSITAT POMPEU FABRA
#
# Patient line family tree viewer is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# Patient line family tree viewer is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# Authors:
# Carlos Yagüe Méndez
# Paula Bassagañas
# Paula Bassagañas
# Contributors: 
# Begoña Benito
# Bart Bijnens
# Oscar Camara
*/

@import './../pl_component_card_patient_status/pl_component_card_patient_status.scss';

.pl-component-card-patient-status-combobox{

    color:white;
    padding: 10px;

    .text{
        margin-top:3px;
        padding-bottom:2px;
        overflow:hidden;
    }

    &:hover{
        background-color: $color_shadow-2;
        border-radius: 5px;
        
        .text{
            color:$color-normal;
            overflow:hidden;
        }
    }

    .list{
        height:200px;

        .list-item{
            
            padding: 10px;
            border-bottom: 1px solid transparent;
            border-top: 1px solid transparent;

            &:hover{
                background-color: $color_shadow-2;
                border-bottom: 1px solid $color-normal;
                border-top: 1px solid $color-normal;
            }
        }

        .list-item-selected{
            padding: 10px;
            background-color: $color-normal;
        }
    }

}

.tooltip {
    //position: relative;
    //display: inline-block;
    border-radius: 5px;
}

.tooltip .tooltipcontent {
    visibility: hidden;
    background-color:$rkt_viewer_patient_line_viewer_bg_color;
    color: #fff;
    text-align: center;
    border: 1px solid $color-normal;
    position: fixed;
    margin-top: 70px;
    z-index: 3;
}

.tooltip:hover{
    background-color: $color_shadow-2;
}

.tooltip:hover .tooltipcontent {
    visibility: visible;
    
}

