@import './../pl_component_card_patient_status/pl_component_card_patient_status.scss';

.pl-component-card-patient-status-combobox{

    color:white;

    &:hover{
        color: white;
    }

    .text{
        margin-top:3px;
        display: block;
    }

    .list{
        height:200px;

        .list-item{
            
            padding: 10px;

            &:hover{
                background-color: $color_shadow-2;
                border-bottom: 1px solid $color-normal;
                border-top: 1px solid $color-normal;
            }
        }

        .list-item-selected{

            padding: 10px;
            background-color: $color-normal;
        }
    }

    .pl-component-card-patient-status{
        margin-top:-4px;
    }



}

.tooltip {
    position: relative;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}

.tooltip .tooltipcontent {
    visibility: hidden;
    background-color:$rkt_viewer_patient_line_viewer_bg_color;
    color: #fff;
    text-align: center;
    border: 1px solid $color-normal;
    position: fixed;
    margin-top: 70px;
    z-index: 3;
}

.tooltip:hover{
    background-color: $color_shadow-2;
}

.tooltip:hover .tooltipcontent {
    visibility: visible;
    
}

