@import './pl_component_card_family_text_button/pl_component_card_family_text_button.scss';
@import './../../pl_component_text_field_editable/pl_component_text_field_editable.scss';
@import './../../pl_component_text/pl_component_text_plain/pl_component_text_plain.scss';

.pl-component-card-family{
    
    h4{
        color:$color-normal;
    }

    .card-header{
        margin-left: 10px;
        margin-right: 10px;
    }

    .card-item{
        padding-right: 5px;
    }

    .card-row{
        padding:10px;
        background-color: $color_shadow_3;
        margin-top: 15px;
        align-items:center;
    }

    .pl_component_button_circle{
        margin-top: 10px;
        width: 35px;
        height: 35px;
    }

    .pl_component_button_circle_selectable{
        margin-top: 10px;
        width: 35px;
        height: 35px;
    }

    .pl_component_text_field_editable {

        .pl_component_text_plain{
            color:unset;
            font: unset;
            max-height:unset;
            overflow:hidden;
        }
        
    }
    
}