@import './pl_component_card_family_header/pl_component_card_family_header.scss';
@import './pl_component_card_family_text_button/pl_component_card_family_text_button.scss';
@import './pl_component_card_family_widget/pl_component_card_family_widget.scss';

.pl-component-card-family{
    
    h4{
        color:$color-normal;
    }

    .card-item{
        padding-right: 5px;  
    }

    .card-row{
        padding:10px;
        background-color: $color_shadow_3;
        margin-top: 15px;
        align-items:center;
    }

    table {
        margin-top:15px;
    }
    
    tr, td{
        width:100%;
    }

    tr{
        margin-top: 0px;
        margin-bottom: 0px;
        padding-bottom: 7px;
        padding-top: 7px;
        border-bottom: 1px solid $color-normal;

        &:hover{
            background-color: $color_shadow-2;
        }
    }
    
}