@import './../../components/pl_component_header/pl_component_header.scss';
@import './../../components/pl_component_drag_and_drop/pl_component_drag_and_drop.scss';
@import './../../components/pl_component_database/pl_component_database.scss';

.pl-page-patients{
    
    background-color:$rkt-viewer-background-color;
    color:white;

    .sub-header{
        padding: 30px;
        padding-bottom: 10px;
        padding-top: 20px;
    
        /*h3{
            color:$rkt_viewer_patient_line_header_bg_color;
        }*/

        border-bottom: 1px solid $rkt_viewer_patient_line_header_bg_color;
    }

    .bx--pagination{
        background-color:$rkt-viewer-background-color;
        color:white;
        border: 1px solid $rkt_viewer_patient_line_header_bg_color;

        .bx--select__arrow{
            fill:$rkt_viewer_patient_line_header_bg_color;
        }
    }

    .pl_component_form_item_input_text{
        
        margin: 0px;
        padding: 10px;
        padding-bottom:5px; 

        input[type="text"],{
            
            background-color: $rkt-viewer-background-color;
            color:$rkt_viewer_patient_line_header_bg_color;
            margin-bottom:0px; 

            &:focus{
                background-color: $rkt-viewer-background-color;
                border: 1px solid $rkt_viewer_patient_line_header_bg_color;
            }

            &:hover{
                background-color: $rkt-viewer-background-color;
                border: 1px solid $rkt_viewer_patient_line_header_bg_color;
            }
        }
        
    }
    
    .user-authentication{
        a{
            color:$rkt_viewer_patient_line_header_bg_color;
            &:hover{
                color:$color-normal-2
            }
        }
    }
}