/*
# Patient line family tree viewer is (c) BCNMedTech, UNIVERSITAT POMPEU FABRA
#
# Patient line family tree viewer is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# Patient line family tree viewer is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# Authors:
# Carlos Yagüe Méndez
# Paula Bassagañas
# Paula Bassagañas
# Contributors: 
# Begoña Benito
# Bart Bijnens
# Oscar Camara
*/

@import './../../components/pl_component_header/pl_component_header.scss';
@import './../../components/pl_component_drag_and_drop/pl_component_drag_and_drop.scss';
@import './../../components/pl_component_database/pl_component_database.scss';
@import './../../components/pl_component_form/pl_component_form.scss';

.pl-page-patients{
    
    background-color:$rkt-viewer-background-color;
    color:white;

    .sub-header{
        padding: 30px;
        padding-bottom: 10px;
        padding-top: 20px;
    
        /*h3{
            color:$rkt_viewer_patient_line_header_bg_color;
        }*/

        border-bottom: 1px solid $rkt_viewer_patient_line_header_bg_color;
    }

    .bx--pagination{
        background-color:$rkt-viewer-background-color;
        color:white;
        border: 1px solid $rkt_viewer_patient_line_header_bg_color;

        .bx--select__arrow{
            fill:$rkt_viewer_patient_line_header_bg_color;
        }
    }

    .pl_component_form_item_input_text{
        
        margin: 0px;
        padding: 10px;
        padding-bottom:5px; 

        input[type="text"],{
            
            background-color: $rkt-viewer-background-color;
            color:$rkt_viewer_patient_line_header_bg_color;
            margin-bottom:0px; 

            &:focus{
                background-color: $rkt-viewer-background-color;
                border: 1px solid $rkt_viewer_patient_line_header_bg_color;
            }

            &:hover{
                background-color: $rkt-viewer-background-color;
                border: 1px solid $rkt_viewer_patient_line_header_bg_color;
            }
        }
        
    }

    .pl_component_form_item_input_text_suggestion{
        
        margin: 0px;
        padding: 10px;
        padding-bottom:5px; 

        input[type="text"],{
            
            background-color: $rkt-viewer-background-color;
            color:$rkt_viewer_patient_line_header_bg_color;
            margin-bottom:0px; 

            &:focus{
                background-color: $rkt-viewer-background-color;
                border: 1px solid $rkt_viewer_patient_line_header_bg_color;
            }

            &:hover{
                background-color: $rkt-viewer-background-color;
                border: 1px solid $rkt_viewer_patient_line_header_bg_color;
            }
        }
        
    }
    
    .user-authentication{
        a{
            color:$rkt_viewer_patient_line_header_bg_color;
            &:hover{
                color:$color-normal-2
            }
        }
    }
}