@import './../../components/pl_component_family_tree_viewer/pl_component_family_tree_viewer.scss';
@import './../../components/pl_component_sidebar/pl_component_sidebar.scss';
@import './../../components/pl_component_legend/pl_component_legend.scss';

.pl-page-viewer{
    margin: 0; height: 100%; 
    overflow: hidden;
    background-color:$rkt-viewer-background-color;
    color:white;

    .bottom_bar_left{
        position: absolute;
        bottom:15px;
        left:12px;
        align-items:center;
        z-index: 15;
        overflow:hidden;
    }
    .bottom_bar_right{
        position: absolute;
        bottom:15px;
        right:12px;
        align-items:center;
        z-index: 15;
        overflow:hidden;
    }

    .legend{
        position: absolute;
    bottom: 15px;
    right: -36px;
    align-items: center;
    z-index: 10;
    overflow: hidden;
    width: 332px;
    height: 310px;
    }

    .pl_component_form_item_input_text{
        
        margin:0px;
        width:100%;
        height:100%;

        input[type=text]{
            
            margin-bottom:0px; 
            padding:0px;

            border:0px;
            width:100%;
            height:100%;

            background-color: $rkt-viewer-background-color;
            color:#8c83ea;//#ffffff63;//unset;
            font-size: unset;

            &:focus{
                background-color: $rkt-viewer-background-color;
                color:$rkt_viewer_patient_line_header_bg_color;
                border:0px;
            }

            &:hover{
                background-color: $rkt-viewer-background-color;
                color:$rkt_viewer_patient_line_header_bg_color;
                border:0px;
            }
        }
        
    }
}