@import './../../components/pl_component_family_tree_viewer/pl_component_family_tree_viewer.scss';

.pl-page-viewer{
    margin: 0; height: 100%; 
    overflow: hidden;
    background-color:$rkt-viewer-background-color;
    color:white;
}

