@import './../pl_component_form_item_label/pl_component_form_item_label.scss';
@import './../pl_component_form_item_message/pl_component_form_item_message.scss';

.pl_component_form_item_input_text {

    margin-top:5px;
    margin-bottom:15px;
    margin-left:35px;
    margin-right:10px;
    overflow:hidden;
    
    form {
        input[type=text]{
            background-color: rgba(255, 255, 255, 0.201); //#ffffff;
            color: rgba(58, 153, 216, 0.697);//$color_main_blur;
            font-size: 20px;
            height:41px;
            border: 1px solid rgba(58, 153, 216, 0.201);//$color_main_blur;
            overflow:hidden;

            &:hover{
                background-color: #ffffff;
                color: $color_main;
                border: 1px solid rgba(58, 153, 216, 0.8);
                overflow:hidden;
            }

            &:focus{
                background-color: rgba(255, 255, 255, 0.8); //#ffffff;
                color: $color_main;
                border: 1px solid rgba(58, 153, 216, 0.8);//1px solid rgba(58, 153, 216, 0.8);
                overflow:hidden;
            }
        }
        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: rgba(58, 153, 216, 0.697);
            opacity: 1; /* Firefox */
        }
        
        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: rgba(58, 153, 216, 0.697);
        }
        
        ::-ms-input-placeholder { /* Microsoft Edge */
            color: rgba(58, 153, 216, 0.697);
        }
    }
}

.pl_component_form_item_input_text_invalid {

    margin-top:5px;
    margin-bottom:15px;
    margin-left:35px;
    margin-right:10px;
    overflow:hidden;
    
    form {
        input[type=text]{
            background-color: rgba(255, 255, 255, 0.201); //#ffffff;
            color: red;
            font-size: 20px;
            height:41px;
            border: 1px solid red;
            overflow:hidden;

            // &:hover{
            //     background-color: #ffffff;
            //     color: $color_main;
            //     border: 1px solid rgba(58, 153, 216, 0.8);
            //     overflow:hidden;
            // }

            // &:focus{
            //     background-color: rgba(255, 255, 255, 0.8); //#ffffff;
            //     color: $color_main;
            //     border: 1px solid rgba(58, 153, 216, 0.8);//1px solid rgba(58, 153, 216, 0.8);
            //     overflow:hidden;
            // }
        }
    }
}

// icon
.pl_component_form_item_input_text_icon{
    margin-left:10px;
    height:41px;
    align-items:center; // vertical centering of the icon
    justify-content:center; // horizontal centering of the icon

    color: rgba(58, 153, 216, 0.697);//$color_main_blur;
    font-size:30px;
    overflow:hidden;
}
    
.pl_component_form_item_input_text_icon_highlighted{
    margin-left:10px;
    height:41px;
    align-items:center; // vertical centering of the icon
    justify-content:center; // horizontal centering of the icon

    color: $color_main;
    font-size:30px;
    overflow:hidden;
}