@import './../../../pl_component_card_patient/pl_component_card_patient_status/pl_component_card_patient_status.scss';

.pl-component-card-family-widget-statistics{

    //max-height:200px;
    overflow-y:auto;

    tr, td{
        width:100%;
    }

    tr{
        margin-top: 0px;
        margin-bottom: 0px;
        padding-bottom: 7px;
        padding-top: 7px;
    }
    
    .pl-component-card-family-widget-statistics-item{

        background-color: $color_shadow-2;
        border-bottom: 1px solid $color-normal;

        color:white;
        align-items: center;
        
        h6{
            margin-top:0px;
            color:$color-normal;
        }

        .text{
            padding-bottom:2px;
        }

        .pl-component-card-family-widget-statistics-element{
            padding-left:10px;
            padding-right:15px;
        }

        .centered{
            align-items: center;
        }

        &:hover{

            .pl-component-card-family-widget-statistics-item-content{
                display: block;
            }


        }

    }

    .pl-component-card-family-widget-statistics-item-content{
        display: none;
        overflow: hidden;

        .pl-component-card-patient-widget-relatives {

            background-color: $rkt-viewer-background-color;

            tr{
                border-bottom: 0px;
                background-color: transparent;
            }

        }
    }

    

    // .pl-component-card-family-widget-statistics-undefined-message{
    //     padding-bottom:2px;
    // }

}