/*
# Patient line family tree viewer is (c) BCNMedTech, UNIVERSITAT POMPEU FABRA
#
# Patient line family tree viewer is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# Patient line family tree viewer is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# Authors:
# Carlos Yagüe Méndez
# Paula Bassagañas
# Paula Bassagañas
# Contributors: 
# Begoña Benito
# Bart Bijnens
# Oscar Camara
*/

.pl-component-menu-tags{

    padding-left:10px;
    padding-top: 3px;

    .tag-un-selected{
        margin-right: 5px;
        border: 1px solid $rkt_viewer_patient_line_header_bg_color;
        background-color: transparent;
        color: $rkt_viewer_patient_line_header_bg_color;
    }
    
    .tag-selected{
        margin-right: 5px;
        border: 1px solid $rkt_viewer_patient_line_header_bg_color;
        background-color: $rkt_viewer_patient_line_header_bg_color;
        color: white;
    }

    .tag-info{
        margin-right: 5px;
        border: 1px solid $color-normal-3;
        background-color: $color-normal-3;
        color: white;
    }

    .settings-icon{
        fill:$color-normal;
        &:hover{
            fill:$color-normal-2;
        }
    }

    .right-bar{
        //bottom:55px;
        //right:0px;
        vertical-align: top;
        padding: 5px;
        //align-items:center;
        //z-index: 10;
        overflow:hidden;
        //background-color: $rkt_viewer_patient_line_viewer_bg_color;
        /*padding: 10px;*/
        padding-right:10px; 
        padding-left: 10px;
        overflow: hidden;
    }

    .item{
        color:$color-normal;
        padding-right:5px; 
        overflow: hidden;
    }

    .grid{
        
        //display: grid;
        //grid-template-columns: auto auto auto auto;
        //grid-gap: 5px;
    }

    .grid-item{
        display: block;
        float: left;
        padding-bottom: 8px;
    }
    
}