/*
# Patient line family tree viewer is (c) BCNMedTech, UNIVERSITAT POMPEU FABRA
#
# Patient line family tree viewer is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# Patient line family tree viewer is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# Authors:
# Carlos Yagüe Méndez
# Paula Bassagañas
# Paula Bassagañas
# Contributors: 
# Begoña Benito
# Bart Bijnens
# Oscar Camara
*/

@import './../../pl_component_card_patient_status/pl_component_card_patient_status.scss';

.pl-component-card-patient-widget-parent{

        overflow-y:auto;

    .pl-component-card-patient-widget-parent-item{

        align-items: center;
        padding-bottom:5px;

        h6{
            margin-top:0px;
            color:$color-normal;
        }

        .text{
            padding-bottom:2px;
        }

        .pl-component-card-patient-widget-parent-element{
            padding-right:30px;
        }

        .centered{
            align-items: center;
        }

    }

    .pl-component-card-patient-widget-parent-undefined-message{
        padding-bottom:2px;
    }

}