@import './../../pl_component_card_patient_status/pl_component_card_patient_status.scss';

.pl-component-card-patient-widget-parent{

    align-items: center;
    padding-bottom:5px;

    h6{
        margin-top:0px;
        color:$color-normal;
    }

    .text{
        padding-bottom:2px;
    }

    .pl-component-card-patient-widget-parent-element{
        padding-right:30px;
    }

    .parent-age{
        align-items: center;
        justify-content: center;
    }

    .pl-component-card-patient-widget-parent-undefined-message{
        padding-bottom:2px;
    }

}