$rkt_viewer_patient_line_header_bg_color:#5C4EE5;
$rkt_viewer_patient_line_header_color:#FFFFFF;
$rkt_viewer_patient_line_viewer_bg_color:#21211f;
$rkt_viewer_patient_line_thumbnail_bg_color:rgba(0,0,0,0.28);
$rkt-viewer-background-color:#272822;
$rkt-viewer-font-color:#75715e;
$color-normal:#5C4EE5;
$color-normal-2:#8c83ea;
$color-main:#5C4EE5;
$color-un-selected:#ffffff63;