$rkt_viewer_patient_line_header_bg_color:#5C4EE5;
$rkt_viewer_patient_line_header_color:#FFFFFF;
$rkt_viewer_patient_line_viewer_bg_color:#21211f;
$rkt_viewer_patient_line_wiewer_bg_color_modal:#21211ff0;
$rkt_viewer_patient_line_thumbnail_bg_color:rgba(0,0,0,0.28);
$rkt-viewer-background-color:#272822;
$rkt-viewer-font-color:#75715e;
$color-normal:#5C4EE5;
$color-normal-2:#8c83ea;
$color-normal-3:#5596e6;
$color-normal-4:#00000029;
$color-main:#5C4EE5;
$color-un-selected:#ffffff63;
$color_shadow:rgba(0, 0, 0, 0.16);
$color_shadow-2:#00000047;
$color_shadow_3:#00000038;