@import './../../pl_component_card_patient_status/pl_component_card_patient_status.scss';

.pl-component-card-patient-widget-relatives{

    max-height:200px;
    overflow-y:auto;

    .pl-component-card-patient-widget-relatives-item{

        align-items: center;

        margin-bottom:15px;
        // padding-top: 5px;
        // padding-bottom: 5px;
        // background-color: $color_shadow_3;

        h6{
            margin-top:0px;
            color:$color-normal;
        }

        .text{
            padding-bottom:2px;
        }

        .pl-component-card-patient-widget-relatives-element{
            //padding-right:30px;
            padding-left:10px;//15px;
            padding-right:15px;
        }

        .centered{
            align-items: center;
        }

    }

    .pl-component-card-patient-widget-relatives-undefined-message{
        padding-bottom:2px;
    }

}