/*
# Patient line family tree viewer is (c) BCNMedTech, UNIVERSITAT POMPEU FABRA
#
# Patient line family tree viewer is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# Patient line family tree viewer is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# Authors:
# Carlos Yagüe Méndez
# Paula Bassagañas
# Paula Bassagañas
# Contributors: 
# Begoña Benito
# Bart Bijnens
# Oscar Camara
*/

.pl_component_form_item_label{
    padding:5px;
    font: 20px Helvetica; //"Helvetica Neue";
    color:$color_normal;
    opacity:0.697;
    overflow:hidden;

    .pl_component_form_item_label_number{
        width:30px;
        margin-right:5px;
        overflow:hidden;
    }
}

.pl_component_form_item_label_highlighted{
    padding:5px;
    font: 20px Helvetica; //"Helvetica Neue";
    color:$color_normal_2;
    opacity:0.697;
    overflow:hidden;

    .pl_component_form_item_label_number{
        width:30px;
        margin-right:5px;
        overflow:hidden;
    }
}