@import './pl_component_card_family_widget_statistics/pl_component_card_family_widget_statistics.scss';

.pl-component-card-family-widget{
    
    background-color: $color_shadow-3;
    border-top: 1px solid $color-normal;
    padding: 10px;

    h5{
        color:$color-normal;
    }
    
}