@import './../../pl_component_card_patient_status/pl_component_card_patient_status.scss';

.pl-component-card-patient-widget-children{

    //max-height:200px;
    overflow-y:auto;

    .family-list{

        padding-left:10px;
        padding-right:10px;
        padding-bottom:25px;

        .family-list-header {

            //align-items: center; // vertical centering
            background-color: $color_shadow_2;

            padding-top:10px;
            padding-bottom:10px;
            //margin-bottom:10px;

            .family-list-header-parents {

                padding-top: 7px;
                align-items: center; // vertical centering
                justify-content: center; // horizontal centering
                
                .family-list-header-parent {
                    align-items: center; // vertical centering
                    justify-content: center; // horizontal centering
                    padding-left:5px;
                    padding-right:5px;

                    .text{
                        padding-top:5px;
                        padding-bottom:2px;
                    }

                }


                .family-list-header-edition-buttons{
                    align-items: center; // vertical centering
                    position:absolute;
                    right:0px;
                    padding-right:10px;
                    padding-top: 10px;
    
                    .pl_component_button_circle{
                        height:28px;
                        width:28px;
                    }
                }
            }

        }

        .family-list-children {

            tr, td{
                width:100%;
            }
            
            .family-list-item{
                
                align-items: center;
                //margin-bottom:15px;
                padding-bottom: 8px;
                padding-top: 5px;
                //margin-top:-5px;
                border-bottom: 1px solid $color-normal;
                &:hover{
                    background-color: $color_shadow_3;
                }
                

                h6{
                    margin-top:0px;
                    color:$color-normal;
                }

                .text{
                    padding-bottom:2px;
                }

                .family-list-item-element{
                    //padding-right:30px;
                    padding-left:10px;//15px;
                    padding-right:15px;
                }
        
                .centered{
                    align-items: center;
                }

            }
        }

    }

    .pl-component-card-patient-widget-children-undefined-message{
        padding-bottom:2px;
    }

}